canvas_binary_host_mirror=https://github.com/Automattic/node-canvas/releases/download/
registry=https://registry.npmjs.org/
legacy-peer-deps=true
node-linker=hoisted
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
strict-ssl=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=60000
